body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    background-color: #5F9EA0;
}

.logo {
    margin-bottom: 25px;
}

h2 {
    text-align: center;
}

.login-form {
    border: 1px, solid;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
    background-color: azure;
}

form {
    display: grid;
}

label {
    text-align: left;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

button {
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: burlywood;
    cursor: pointer;
}

#create-account {
    margin-top: 0px;
    background-color: lightblue;
}

.login-submit {
    display: flex;
    align-items: center;
}